@media screen and (max-width: 1200px){

}


@media screen and (max-width: 992px){

}
@media screen and (max-width: 480px){

body{
  background:url('IMG/background.jpg');
  position: absolute;
  /*background-attachment: fixed; /* Фон страницы фиксируется */

  margin: auto;

}
h1{
  font-size: 2.5em;
}
h1,h2{
  font-size: 2em;
}

.IMG_{
  display:block;
  margin: auto;

}
.IMG img{
  width: 220%;
  height: 170%;
  margin-left: -50px;


}
#_IMG_2,#_IMG_3{
  display: none;
}
}
}
@media screen and (max-width: 320px){

body{
  position: absolute;
  /*background-attachment: fixed; /* Фон страницы фиксируется */
  margin: auto;

}
h1{
  font-size: 2.5em;
}
h1,h2{
  font-size: 2em;
}

.IMG_{
  display:block;
  margin: auto;

}
.IMG img{
  width: 220%;
  height: 170%;
  margin-left: -50px;


}
#_IMG_2,#_IMG_3{
  display: none;
}
}
}